.site-content {
	display: flex;
	max-width: $size__max-width;
	margin: 0 auto;
	// background-color: invert($color__logo-black);
}

.content-area {
	width: calc(100% - #{$size__site-sidebar});
	padding: $size__spacing-unit-large 0;
}

.site-main {
}

.widget-area {
	padding: $size__spacing-unit-large $size__spacing-unit-small;
	flex: 1;
}

.site-footer {
	width: $size__site-main;
}
