.site-content {
	display: flex;
	max-width: $size__max-width;
	margin: 0 auto;
	// background-color: invert($color__logo-black);
}

.content-area {
	padding: $size__spacing-unit-large 0;
}


.widget-area {
	padding: $size__spacing-unit-large $size__spacing-unit-small;
}

.site-footer {
	width: $size__site-main;
}

@include mq($until: desktop) {
	.site-content {
		flex-direction: column;
	}
}
@include mq($from: desktop) {
	.site-content {
		flex-direction: row;
	}
	.content-area {
		width: calc(100% - #{$size__site-sidebar});
		&.full-width {
			width: 100%;	
		}
	}

	.widget-area {
		flex: 1;
	}
}
