@import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
.site-header {
  $bg-color: lighten($color__logo-black, 5);
  background-color: $bg-color;
  color: invert($bg-color);
}
.site-header-wrapper {
  max-width: $size__max-width;
  margin: 0 auto;
}
.site-branding {
  display: flex;
  justify-content: space-between;
  padding: $size__spacing-unit-large $size__spacing-unit-small;
  .custom-logo-link {
    width: 150px;
  }
}
.site-branding-title-block {}

.site-footer {
  padding: $size__spacing-unit-large $size__spacing-unit-small;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
