$color__navigation-bg: lighten($color__logo-black, 8);
$color__navigation-fg: lighten($color__logo-black, 80);

$size__navbar-height-mobile: 3.5rem;
.label-toggle {
  background: linear-gradient(to bottom, $color__navigation-fg 0%, $color__navigation-fg 20%,
		transparent 20%, transparent 40%, $color__navigation-fg 40%, $color__navigation-fg 60%, transparent 60%,
		transparent 80%, $color__navigation-fg 80%, $color__navigation-fg 100%); //Gradient Hamburger
  cursor: pointer;
  float: right;
  height: $size__navbar-height-mobile - 2;
  margin: 1rem 1.5rem 0 0;
  width: $size__navbar-height-mobile - 2;
	@include mq($until: desktop) {
	  display: block;
	}
	@include mq($from: desktop) {
	  display: none;
	}
}

#menu-toggle {display: none;}

@include mq($until: desktop) {
	#menu-toggle:checked ~ nav {
		> ul {
			height: 50vh;
			overflow-y: auto;
		}
	}
}

.main-navigation {
	// clear: both;
	display: block;
	// float: left;
	width: 100%;
	background-color: $color__navigation-bg;

	nav {
		@include mq($until: desktop) {
			min-height: $size__navbar-height-mobile;
			padding-top: $size__navbar-height-mobile;
			// height: 0;
			// max-height: 50vh;
			// overflow: hidden;

			> ul {
				margin-bottom: 0;
				transition: all .2s ease-in-out;
				height: 0;
				overflow: hidden;
			}
		}
		@include mq($from: desktop) {
			ul {
				// display: none;
				margin: 0;
				padding-left: 0;
				ul {
					box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
					float: left;
					position: absolute;
					top: 100%;
					left: -999em;
					z-index: 99999;

					ul {
						left: -999em;
						top: 0;
					}

					li {
						&:hover > ul,
						&.focus > ul {
							left: 100%;
						}
					}

					a {
						width: 200px;
					}

					:hover > a,
					.focus > a {
					}

					a:hover,
					a.focus {
					}
				}

				li:hover > ul,
				li.focus > ul {
					left: auto;
				}
			}

			li {
				display: inline-block;
				position: relative;


				&:hover > a,
				&.focus > a {
				}
			}

		}

		ul {
			list-style: none;
			background-color: $color__navigation-bg;
		}

		li {
			padding: $size__spacing-unit-tiny;
		}

		a {
			transition: all .2s ease-in-out;
			display: block;
			text-decoration: none;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			text-decoration: underline;
		}
	}
}

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
