$icomoon-font-family: "kollektiv" !default;
$icomoon-font-path: "fonts" !default;

$icon-price-tag: "\e935";
$icon-price-tags: "\e936";
$icon-calendar: "\e953";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-search: "\e986";
$icon-menu: "\e9bd";

