.site-main {
	padding: $size__spacing-unit-large $size__spacing-unit-small;
}

.post, .page.type-page {
	background-color: white;
	padding: $size__spacing-unit-large $size__spacing-unit-small;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	.entry-title {
		line-height: 1.2;
		font-size: 1.8rem;
	}
}

.entry-meta {
	font-size: .8rem;
	margin-top: .5rem;
}

.entry-footer {
	.tags-links {
		font-size: .8rem;
	}
	.cat-links {
		display: none;
	}
	.comments-link{
		display: block;
		font-size: .8rem;
	}
	.edit-link {
		display: block;
		font-size: .8rem;
	}
}
